body {
    font-family: "Lato", sans-serif;
}



.style-info{
    direction: rtl;
}

.style-input{
    display: block;
    direction: ltr;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}
#wrapper {
    width: 500px;
    border: 1px solid black;
    justify-content: right;
}
#first {
    width: 300px;
    border: 1px solid red;
    float:right;
}
#second {
    border: 1px solid green;
    float:left
}


.sidenav {
    height: 100%;
    background-color: #2C323A;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

.login-refactor, #id_username, #id_password{
    width:100%
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signup-btn{
    width: 50%;
    margin-left: 5px;
}

.login-btn{
    width: 50%;
    margin-right: 5px;
}

main.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-group{
    width:100%;
}

.width100{
    width:100%;
}

.btn-dark{
    background-color: #2C323A;
}

.formContainer{
    display: flex;
    flex-direction: column;

}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .main-signup{
        margin-left: 50%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .col-md-6-signup {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 70%;
        margin-top:10%;
    }
    
    .login-form{
        margin-top: 50%;
        margin-bottom: 40%;
        margin-left: 50%;
        width:350px;
    }
    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.bg-black{
    background-color: #2C323A;
}